name = "fresh"
type = "webpack"

account_id = "ACCOUNT_ID_HERE"
workers_dev = true
route = ""
zone_id = ""
compatibility_date = "2022-04-15"

kv_namespaces = [
    { binding = "SHORTEN", preview_id = "ID_HERE", id = "PREVIEW_ID_HERE" }
]

[site]
bucket = "./public"
entry-point = "index"

[vars]
ORIGIN_URL = "https://example.com"
PRIVATE_KEY = "5$(Mw1+yZ@,QL^U+Sg-,&_dj(M%WP;-;5I<<a]xUyZRv:gg$:j|%G!!ps.b$7B{"